<div class="">
    <div class="text-white text-center">
        <h1 class="p-4">Error Dashboard</h1>
    </div>

    {{#if message}}
    {{message}}
    {{/if}}

    <div class="d-flex flex-wrap justify-content-center align-items-center">
        {{#if wells}}
        {{#each wells}}
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{this.address}}</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>

                <form action="/admin/{{this._id}}/resolve" method="post">
                    <button type="submit" class="btn btn-outline-success">
                        resolve issue
                    </button>
                </form>

            </div>
        </div>
        {{/each}}
        {{else}}
        <img src="https://media1.tenor.com/images/6c95dc3bce9a5b83fc5de632ef6fcfaa/tenor.gif?itemid=11335000" alt="">
        <p class="text-white p-5">Good job! Grab yourself a coffee!</p>
        {{/if}}
    </div>


</div>